<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!--    设置-->
    <settings>
<!--        [设置延迟加载已启用]为True -->
        <setting name="lazyLoadingEnabled" value="true"/>

<!--        [设置积极加载为]False -->
        <setting name="aggressiveLazyLoading" value="false"/>

<!--        [设置二级缓已启用为]True -->
        <setting name="cacheEnabled" value="true"/>

<!--        [当类型为NULL时]True -->
        <setting name="jdbcTypeForNull" value="NULL"/>

    </settings>


</configuration>